@font-face {
  font-family: myfont;
  src: url("font1.ttf");
}
@font-face {
  font-family: deanDesc;
  src: url("AlexBrush-Regular.ttf");
}
@font-face {
  font-family: myfont1;
  src: url("font.ttf");
}
@font-face {
  font-family: myfont2;
  src: url("chalkBoard.ttf");
}
* {
  box-sizing: border-box;
}
body {
  padding: 0px;
  margin: 0px;
  background: rgb(248, 244, 244);
}
.aboutUs {
  position: relative;
  height: 100vw;
  max-width: 100%;
}
.middle {
  text-align: center;
}
.headMargin {
  position: relative;
  left: 0%;
  top: 0px;
  background: white;
  padding: 7px;
  font-weight: bold;
  font-family: myfont;
  word-spacing: 7px;
  font-size: 55px;
  color: blue;
  background-image: url("/images/navBackground.jpeg");
}
.acmLogo {
  position: relative;
  height: 230px;
  width: 230px;
  left: 120px;
}
#mainContainer {
  opacity: 0.85;
  position: relative;
  top: -1280px;
  margin-top: 5%;
  margin-bottom: -20%;
  margin-left: 3.5%;
  margin-right: 3.5%;
  height: 86%;
  background-color: rgb(246, 240, 240);
  border-radius: 7px;
  border: 1px solid rgb(165, 155, 155);
  box-shadow: 0px 10px 10px 10px #888888;
  height: 1300px;
}
#acmLogo {
  position: relative;
  height: 170px;
  width: 200px;
  top: -1220px;
  left: 940px;
  box-shadow: 0px 10px 10px 10px #888888;
  background-color: white;
}
#missionLogo {
  position: relative;
  left: 45%;
  width: 7%;
  height: 6%;
  top: -123px;
  border-radius: 5px;
}
#logo {
  position: relative;
  top: -135px;
  height: 110px;
  width: 220px;
  left: 70px;
  box-shadow: 0px 10px 10px 10px #888888;
  background-color: white;
}
.manually1 {
  position: random;
  top: 150%;
}
.padHead {
  padding-bottom: 70px;
}
#childContainerHeading {
  margin-top: 30px;
  font-weight: bold;
  font-size: 60px;
  color: rgb(70, 84, 172);
  line-height: 100px;
  font-family: sans-serif;
  word-spacing: 10px;
  padding-top: 20px;
  position: relative;
  left: 25%;
  max-width: 45%;
  border-radius: 2px;
  box-shadow: 0px 10px 10px 10px #888888;
}
.para1 {
  margin-top: -20px;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  color: rgba(130, 79, 126, 0.9);
}

#deanPic {
  position: relative;
  left: 80%;
  top: 5px;
  border: 3px solid rgb(77, 90, 174);
  border-radius: 7px;
  z-index: 10;
}
#descDean {
  position: relative;
  left: 81%;
  top: -20px;
  font-size: 22px;
  font-family: myfont;
}
.subHeading2 {
  /* position: relative; */
  top: -320px;
  padding-bottom: 70px;
}

#aboutUsHeading {
  position: relative;
  font-weight: bold;
  font-size: 70px;
  font-family: myfont2;
  top: -1220px;
  color: rgb(176, 28, 28);
  text-shadow: 2px 2px #ff0000;
}
.fontSize {
  font-size: 30px;
}
.para2 {
  position: relative;
  top: -540px;
  font-size: 30px;
}
.subHeading3 {
  position: relative;
  top: -530px;
  padding-bottom: 70px;
}
.para3 {
  position: relative;
  top: -490px;
  line-height: 35px;
  font-size: 30px;
}

#questionMarkLogo {
  position: relative;
  max-width: 200px;
  top: -450px;
  width: 100px;
  height: 80px;
  border-radius: 7px;
  background: white;
  left: 45%;
}

#questionMarkLogo2 {
  position: relative;
  max-width: 200px;
  width: 100px;
  height: 80px;
  border-radius: 7px;
  left: 45%;
  top: -920px;
}
#USICTPIC {
  position: relative;
  top: -850px;
  left: 66%;
  border-radius: 5px;
  border: 3px solid rgb(77, 90, 174);
}
#USICTDesc {
  position: relative;
  top: -870px;
  left: 80%;
  font-size: 25px;
  font-family: myfont;
}
