* {
  margin: 0;
}
body {
  font-family: monospace;
  color: #fff;
  height: 100vh;
  display: grid;
  place-items: center;
}
.calculator {
  width: 20rem;
  height: 22rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: dimgray;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.display-cont {
  padding: 10px;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}
.display {
  font-family: monospace;
  color: #fff;
  font-size: 1.5rem;
  border: none;
  height: 3rem;
  width: 100%;
  overflow-x: hidden;
  text-overflow: clip;
  direction: rtl;
  background-color: transparent;
}
.operations {
  display: grid;
  grid-template-rows: 1fr 4fr;
}
.bottom {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
button {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  border: 1px solid #888;
  font-size: 1.5rem;
  cursor: pointer;
  font-family: monospace;
  color: #fff;
}
button:hover {
  opacity: 0.6;
}
button:hover--main {
  opacity: 0.6;
}
button.equal {
  grid-column: 2 / span 2;
}
.clear-btn {
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #888;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #5d5e63;
}
.numbers {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.operators {
  height: 100%;
  list-style: none;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}
.operators > button {
  background-color: #f49e3f;
}
.numbers > button {
  background-color: #7a7a7d;
}
